@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgba(169, 169, 169, 0.5);
    font-family: var(--fonte1);
}


header {
    background-color: rgba(0, 0, 0, 0.699);
    color: rgb(255, 255, 255);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw; 
}

header > p {
    padding-bottom: 30px;
}

                    
                    header a, footer a {
                        color: rgb(150, 150, 230);
                        text-decoration: none;
                        font-weight: bolder;
                    }

                    header a:hover, footer a:hover {
                        text-decoration: underline;
                    }


 section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-family: var(--fonte3);
    text-align: justify;
    font-size: 1.3vw;              /* 5vw em vez de 1.3em */
 }     


 
                        section > p {
                            padding-bottom: 1em;
                        }
 

                        section.normal {
                            background-color: rgb(240, 238, 238);
                            color: rgba(17, 1, 1, 0.753);
                            padding: 71px;
                        }


                        section.imagem {
                          /*  display: inline-block;   transforma-se numa caixa que se adequa ao tamanho do conteúdo */
                            padding: 71px;
                            margin-left: 0em;
                        /*  background-color: rgba(0, 0, 0, 0.534); */
                            color: rgba(194, 191, 191, 0.788);
                            text-shadow: 1px 1px 0px rgba(202, 198, 198, 0.438); 
                            background-attachment: fixed;   /* Parallax effect */
                            background-size: cover;
                        }

                        section.imagem > p {
                            display: inline-block;
                            padding: 5px;
                             background-color: rgba(0, 0, 0, 0.692);
                             text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.753);
                             color: rgb(221, 217, 217)
                        }

 
section#img01 {
    background-image: url(../desafio.cordel/background001.jpg);
    background-position: right center;
    background-size: cover;
 }        
 
section#img02 {
    background-image: url(../desafio.cordel/background002.jpg); 
 }


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}                       